/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Platypi';
	background-color: #55D6BE;
}

.platypi {
	font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


h4 {
	font-style: italic;
	font-size: 26px;
	font-family: 'Platypi';
}

h3 {
	font-family: 'Times New Roman', serif;
	font-weight: bolder;
	border-bottom: 1px solid black;
	font-size: 30px;
	padding-left: 10px;
}

h2 {
	text-align: center;
}

p { font-size: 16px;
	font-family: 'Georgia', serif;
	padding-right: 500px;
	padding-left: 20px;
}

img { 
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

.byline {
	font-style: italic;
	font-weight: lighter;
	text-indent: 20px;
}

.footer {
	font-style: italic;
	font-family: 'Georgia';
	font-size: 10pt;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)	
{
img { 
	float: none; 
}
.footer {
	font-family: 'Georgia';
	font-size: 12pt;
}

.list {
 	border: 2px solid darkgrey;
 	padding-left: 10px;
 }

 .iframe {
 	min-width: 90%;
 	margin-right: 10;
 }
}
